@use "../utilities/variables" as *;

.Navegación {
    .navbar-brand {
        color: $color-acento;
        font-size: 24px;
        font-weight: 700;
    }

    .nav-link {
        color: $color-acento;
        font-weight: 600;
        transition: color $transicion;

        &:hover,
        &:focus {
            color: $color-secundario;
        }

        &:active {
            color: $color-blanco;
        }
    }
}